__pycache__/

# Dataset & Tokens
Datasets/train
Datasets/test
Datasets/validation
Datasets/Tokens

# Model Checkpoints
checkpoints/
best_GPT.pt
GPT_pt.pt
GPT_it.pt

# HF-Model Conversions
hf_models
p2h.py
pth.py

# Tests
test_tokenizer.py


to_run.txt
Evaluation/results_GPT_IFT.json
Evaluation/results_GPT_PFT_2.json
Evaluation/results_GPT_it.json
Evaluation/results_GPT_PT.json

ev/

